.main-buttons {
  margin: 0px 23px;
  padding: 20px;
}

.home {
  padding: 10px 15px;
}

.example-button {
  background-color: white;
  color: rgb(10, 96, 54);
  padding: 2px 5px;
}

.example-button:hover {
  background-color: rgb(10, 96, 54);
  color: white;
}

.example-double-level-button {
  background-color: white;
  color: rgb(156, 14, 14);
  padding: 3px 5px;
}

.example-double-level-button:hover {
  color: white;
  background-color: rgb(156, 14, 14);
}

.example-double-level-rounded-buttons {
  background-color: white;
  color: rgb(156, 14, 14);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 7px;
  box-shadow: 4px -2px 1px 1px rgba(0,0,0,0.8);
}

.example-double-level-rounded-buttons:hover {
  background-color: rgb(156, 14, 14);
  color: white;
}

.example-double-level-rounded-buttons:active {
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 1px;
  margin-right: -1px;
  box-shadow: 2px -1px 1px 0px rgba(0,0,0,0.8);
}

.auxiliary-button {
  color: grey;
  background-color: white;
}

.auxiliary-button:hover {
  color: white;
  background-color: grey;
}

button {
  font-size: 20px;
  border-radius: 0px;
  border: 2px solid;
}

button:hover {
  cursor: pointer;
}

.html-buttons {
  background-color: white;
  color: rgb(233, 93, 24);
  margin: 5px;
}

.html-buttons:hover {
  background-color: rgb(233, 93, 24);
  color: white;
  border: 2px solid white;
}

.css-buttons {
  background-color: white;
  color: blue;
  margin: 5px;
}

.css-buttons:hover {
  background-color: blue;
  color: white;
  border: 2px solid white;
}

.css-buttons-prop {
  padding: 10px;
  font-size: 20px;
  color: white;
  box-shadow: 8px -4px 1px 1px rgba(0,0,0,0.8);
  background-color: rgb(88, 15, 244);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 30px;
}

.css-buttons-prop-sub {
  font-size: 15px;
}

.css-buttons-prop:hover {
  background-color: rgb(88, 156, 186);
}

.css-buttons-prop:active {
  margin-top: -2px;
  margin-bottom: 2px;
  margin-left: 3px;
  margin-right: -3px;
  box-shadow: 3px -1px 0px 0px rgba(0,0,0,0.8);
}

.close-but-pos {
   position: absolute;
   top: 20px;
   right: 30px;
 }

.js-buttons {
  background-color: white;
  color: rgb(204, 163, 0);
  margin: 5px;
}

.js-buttons:hover {
  background-color: rgb(204, 163, 0);
  color: white;
  border: 2px solid white;
}

.up-button {
  margin-top: 30%;
  position: fixed;
  font-size: 2em;
  padding: 0;
  color: rgb(69, 207, 217);
  background-color: white;
}

.up-button:hover {
  color: white;
  background-color: rgb(69, 207, 217);
}

.up-button-left {
  margin-left: -0.3%;
}

.up-button-right {
  margin-left: 96.4%;
}

.example-rounded-buttons {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 7px;
  box-shadow: 4px -2px 1px 1px rgba(0,0,0,0.8);
}

.example-rounded-buttons:active {
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: 1px;
  margin-right: -1px;
  box-shadow: 2px -1px 1px 0px rgba(0,0,0,0.8);
}

.shadow {
  box-shadow: 4px -4px 1px 1px rgba(0,0,0,1);
}

.link-buttons:active {
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: 2px;
  margin-right: -2px;
  box-shadow: 2px -2px 0px 0px rgba(0,0,0,0.5);
}
