body {
  background-color: rgb(216, 237, 243);
}

#alignContentMenu {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#alignContentMenu p {
  margin: 20px 10px;
}

.show-and-hide {
  border-radius: 20px;
  background-color: rgba(60, 37, 125, 0.86);
  box-shadow: 4px 1px 15px 10px rgba(77, 110, 115, 0.7);
  margin-top: 3em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.show-and-hide p {
  margin: 10px;
}

.note-round-bord {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.noteCSS {
  background-color: rgb(97, 101, 129);
  top: 20px;
  left: 5px;
  width: 85%;
}

.descriptionCSS {
  background-color: rgb(82, 89, 139);
}

.frameWindow {
  border: 2px solid rgb(8, 37, 57);
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: 10%;
  width: 80%;
  position: absolute;
  background-color: rgb(143, 193, 207);
  z-index: 1;
}

.attr-list-css {
  width: 95%;
}

.attr-list-css td:nth-child(1) {
  width: 15%;
}

.attr-list-css tr:nth-child(even) {
  background-color: rgba(73, 170, 249, 0.44);
}

.just-cont-flex-center {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.just-cont-flex-space-around {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.just-cont-flex-space-between {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /* -webkit-align-items: center;
  align-items: center; */
}

.al-cont-flex {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.al-cont-flex span {
  height: 20%;
}

.al-items-flex {
  display: flex;
  display: -webkit-flex;
}

.al-items-flex span {
  -webkit-flex: 1;
  flex: 1;
}

.al-self-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.al-self-flex span {
  -webkit-flex: 1;
  flex: 1;
}

#allDiv {
  font-size: small; color: blue;
}

#allDiv p {
  background-color: yellow; color: red;
}

#animationDiv {
  width: 68px;
  height: 68px;
  background-color: darkblue;
  position: relative;
}

#animationDivCode {
  borders: none;
  font-family: ubuntu-mono;
  font-size: 85%;
}

#blendDiv {
  background-image: url('../images/background_img.jpeg');
  background-repeat: no-repeat;
}

#clipDiv {
  font-size: 30px;
  border: 5px dotted white;
  text-align: center;
  height: auto;
  padding: 10px;
}

#borderCollapseDiv table, th, td {
  border: 2px solid blue;
  /* padding: 15px; */
  /* width: 100%; */
}

.animation-class {
  animation: movie 5s infinite 3s;
}

.animation-state {
  animation: directMovie 5s infinite 1s;
  animation-play-state: paused;
}

.none-paused {
  animation-play-state: running;
}

.animation-fill-class {
  animation: movie2 5s;
  animation-play-state: paused;
}

.animation-name-class {
  animation-play-state: paused;
}

@keyframes movie {
  from {left: 0px;}
  to {left: 30%;}
}

@keyframes movie2 {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes directMovie {
  0%   {background: darkblue; left: 0px; top: 0px;}
  25%  {background: blue; left: 200px; top: 0px;}
  50%  {background: lightblue; left: 200px; top: 200px;}
  75%  {background: blue; left: 0px; top: 200px;}
  100% {background: darkblue; left: 0px; top: 0px;}
}

.exampleDiv {
  width: 85%;
  height: 150px;
  margin-left: 2em;
  border: 1px solid white;
}

.exampleDiv span {
  width: 100%;
}

h2 {
  color: rgb(8, 27, 191);
}
