body {
  background-color: #f4e9b7;
}

a {
  color: inherit;
}

h1, h2 {
  color: rgb(233, 93, 24);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  color: rgb(10, 96, 54);
}

h4 {
  color: dimgray;
}

p, span {
  /* margin: 0; */
  /* font-size: 20px;
  color: black; */
}

.flexMenu {
  display: flex;
  justify-content: center;
}

.flexMenu p {
  margin: 30px 10px;
}

.codeHTML {
  font-family: Chilanka, monospace;
  font-size: 80%;
  line-height: 1.2em;
}

.exampleHTMLDiv {
  border: 2px solid white;
  padding: 30px 0;
  text-align: center;
}

.noteCommonHTML {
  margin: 0 15px;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
  background-color: sandybrown;
  font-size: 1.4em;
}

.noteHTML:hover, .descriptionHTML:hover {
  box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.7);
}

.descriptionHTML {
  background-color: rgba(236, 63, 17, 0.79);
  width: 90%;
}

.noteHTML {
  background-color: rgb(236, 63, 17);
  width: 90%;
}

.frameWindowHTML {
  border: 2px solid rgb(8, 37, 57);
  border-radius: 10px;
  margin-left: 2em;
  width: 87%;
  position: absolute;
  background-color: rgba(255, 144, 13, 0.28);
  z-index: 1;
}

.city {
    background-color: tomato;
    color: white;
    padding: 10px;
}

.main {
    text-align: center;
}

#myHeader {
    background-color: tomato;
    color: black;
    padding: 40px;
    text-align: center;
}

#layout {
  margin-bottom: 0.5em;
  padding: 0.2em;
  text-align: center;
  background-color: grey;
}

#layout td {
  background-color: white;
}

.entity, #combine{
  border-collapse: collapse;
}

.entity td:nth-child(3) {
  text-align: center;
}

#combine td:nth-child(4) {
  text-align: center;
}

.entity_ref {
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  background-color: yellow;
  color: black;
}

.entity_ref:hover {
  padding: 5px;
  background-color: aqua;
  border-radius: 10px;
}
