body {
  background-color: #f4e9b7;
}

a {
  color: inherit;
}

h1, h2 {
  color: rgb(233, 93, 24);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h2 span {
  color: rgba(205, 126, 44, 0.86);
}

h3 {
  font-size: 1.5em;
  color: rgb(233, 93, 24);
}

h4 {
  color: dimgray;
}

.tableHTML, .tableHTML td, .tableHTML th {
  border: 2px solid blue;
}

.attrSeparation {
  border-top: 5px solid red;
}

.notSupported {
  color: red;
}

.tagsProp {
  display: inline-block;
}

.flexMenu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.flexMenu p {
  margin: 40px 10px;
}

.codeHTML {
  font-weight: 600;
  font-family: Courier, 'Trebuchet MS', monospace;
  font-size: 80%;
  line-height: 1.2em;
}

.exampleHTMLDiv, .resizingExampleHTMLDiv {
  max-width: 97%;
  border: 2px solid white;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.resizingExampleHTMLDiv {
  resize: horizontal;
}

.noteCommonHTML {
  margin: 0 15px;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
  background-color: sandybrown;
  font-size: 1.4em;
}

.noteHTML:hover, .descriptionHTML:hover, .hover:hover {
  box-shadow: 0px 0px 5px 5px rgba(100, 0, 0, 0.7);
}

.shadowText {
  text-shadow: 2px 2px 1px rgba(100, 0, 0, 1);
}

.highlightText {
  text-shadow: 2px 2px 2px rgba(125, 27, 59, 1), 3px 3px 1px rgba(255, 0, 0, 1), 0px 0px 10px rgba(1, 22, 51, 1);
}

.descriptionHTML {
  background-color: rgba(236, 63, 17, 0.79);
  width: 90%;
}

.noteHTML {
  background-color: rgb(236, 63, 17);
  width: 90%;
}

.frameWindowHTML {
  border-radius: 10px;
  margin-left: 1em;
  margin-top: 0;
  width: 93%;
}

.frameWindowHTML:hover {
  background-color: rgba(255, 144, 13, 0.28);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.6);
}

.city {
    background-color: tomato;
    color: white;
    padding: 10px;
}

.main {
    text-align: center;
}

#myHeader {
    background-color: tomato;
    color: black;
    padding: 40px;
    text-align: center;
}

#layout {
  margin-bottom: 0.5em;
  padding: 0.2em;
  text-align: center;
  background-color: grey;
}

#layout td {
  background-color: white;
}

.entity, #combine{
  border-collapse: collapse;
}

.entity td:nth-child(3) {
  text-align: center;
}

#combine td:nth-child(4) {
  text-align: center;
}

.entity_ref {
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  background-color: yellow;
  color: black;
}

.entity_ref:hover {
  padding: 5px;
  background-color: aqua;
  border-radius: 10px;
}
