body {
  background-color: rgba(226, 192, 51, 0.35);
}

nav {
  margin-top: 50px;
  text-align: center;
}

.logos {
  width: 5.5em;
  height: 8em;
}

img:hover {
  cursor: pointer;
}

.view {
  display: none;
}

.dom {
  text-align: center;
  font-size: 40px;
  line-height: 0.7em;
  margin-right: 2.8em;
  margin-top: 0.3em;
}
