body {
  font-family: Ubuntu;
  background-color: lightblue;
  font-size: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfjCQ8gpwvAwT-CH1N_4cT7QidAzzS5oUcMyQMf0-B2OXBTfhKkA");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

div {
  border: 2px solid white;
  margin: 1em;
}

.note {
  width: 700px;
  margin: auto;
  padding: 1px;
  background-color: sandybrown;
  text-align: center;
  font-size: 0.8em;
}

a {
  color: inherit;
}

h1 {
  text-align: center;
}

h2, h3, p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h1, h2 {
  color: green;
}

h3, .brown {
  color: brown;
}

h4 {
  color: dimgray;
}

.purple {
  color: purple;
}

.darkslateblue {
  color: darkslateblue;
}

.maroon {
  color: maroon;
}

.blue {
  color: blue;
}

.crimson {
  color: crimson;
}

.black {
  color: black;
}

.olive {
  color: olive;
}

.teal {
  color: teal;
}

.left-padding {
  padding-left: 1em;
}

.more-padding {
  padding-left: 2em;
}

#arrow {
  display: block;
  font-size: 2em;
  text-align: center;
}

p, span {
  font-size: 15px;
  color: black;
}

.float {
  float: left;
  margin-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  border-right: 2px solid teal;
}

.table {
  margin-top: 1em;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}

.city {
    background-color: tomato;
    color: white;
    padding: 10px;
}

.main {
    text-align: center;
}

.none {
  border: none;
}

#myHeader {
    background-color: tomato;
    color: black;
    padding: 40px;
    text-align: center;
}

#layout {
  margin-bottom: 0.5em;
  padding: 0.2em;
  text-align: center;
  background-color: grey;
}

#layout td {
  background-color: white;
}

#entity, #combine{
  border-collapse: collapse;
}

#entity td:nth-child(3) {
  text-align: center;
}

#combine td:nth-child(4) {
  text-align: center;
}

#entity_ref {
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  background-color: yellow;
  color: black;
}

#entity_ref:hover {
  padding: 5px;
  background-color: aqua;
  border-radius: 10px;
}
